<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.UpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjectServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.AddProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.UpdateProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignEmployeeServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.AssignEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTaskServlet</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.AssignTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgressEmployee</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.ProgressEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgressAdmin</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.ProgressAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TodayTask</servlet-name>
        <servlet-class>project.tracking.system.servlets.admin.TodayTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <url-pattern>/UpdateEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <url-pattern>/DeleteProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectServlet</servlet-name>
        <url-pattern>/AddProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectServlet</servlet-name>
        <url-pattern>/UpdateProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignEmployeeServlet</servlet-name>
        <url-pattern>/AssignEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTaskServlet</servlet-name>
        <url-pattern>/AssignTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgressAdmin</servlet-name>
        <url-pattern>/ProgressAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgressEmployee</servlet-name>
        <url-pattern>/ProgressEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TodayTask</servlet-name>
        <url-pattern>/TodayTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
